// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '~normalize.css/normalize.css';

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Goodness.
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}